.container{
/* background-image:url("https://image.shutterstock.com/image-photo/large-beautiful-drops-transparent-rain-260nw-668593321.jpg");
background-repeat: no-repeat;
display: cover; */
background-color: skyblue;
}
h1{
    text-align: center;
}