
<div class="container-fluid">
    <h2 class="text-center">Search for Quotes</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name">Quote Author:</label><br>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="description">Quote:</label><br>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="complete">Date:</label><br>
            <input type='date' id="complete" required>
  
        </div>
    </form>
</div>